.btn {
   background-color: $nord10;
   border: none;
   color: #fcfcfc;
   padding: 0.75em 1em;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 0.1em;
   display: inline-block;
   font-size: 16px;
   transition: 0.2s filter linear;
   outline: 0;
   border-radius: 500px;
   min-height: 40px;
   &:hover {
      filter: brightness(120%);
   }
   &:active {
      filter: brightness(200%);
   }
}

.link {
   border-bottom: 1px dashed $nord4;
   cursor: pointer;
   &:hover {
      color: $accent;
      border-bottom-style: solid;
      border-bottom-color: $accent;
   }
}
