$colors: (#67b26f, #4ca2cd), (#de6161, #2657eb), (#ee0979, #ff6a00),
   (#ff00cc, #333399);

@each $pair in $colors {
   $i: index($colors, $pair);
   .grad-#{$i} {
      background: linear-gradient(to right, nth($pair, 1), nth($pair, 2));
   }
}
