input {
   background: #f2f2f2;
   padding: 1em 1em;
   box-sizing: border-box;
   width: 100%;
   font-size: 14px;
   outline: 4px solid transparent;
   border: 0;
   transition: outline-color 0.3s ease;
   &:focus {
      outline: 4px solid #67b26f;
   }
   &::placeholder {
      text-transform: uppercase;
      letter-spacing: 0.1em;
   }
}
