$accent: #de6161;
$alt: #67b26f;

@import '~nord/src/sass/nord.scss';
@import '~react-redux-toastr/src/styles/index';

@import 'grad.scss';
@import 'flex.scss';
@import 'input.scss';
@import 'btn.scss';
@import 'space.scss';

body {
   background-color: $nord0;
   color: $nord4;
   font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
   margin: 0px;
   height: 100vh;
   width: 100vw;
   overflow: hidden;
}

label {
   display: none;
}

#app {
   width: 100%;
   height: 100%;
}

.titlebar {
   position: absolute;
   height: 24px;
   width: 100vw;
   -webkit-app-region: drag;
}

.auth {
   width: 60vw;
   overflow: auto;
   padding: 1em;
   min-height: 380px;
}

.min-window {
   min-height: 500px;
   min-width: 400px;
}

.logo {
   font-size: 3em;
}

.message-container {
   margin-left: 85px;
}

.sidebar-container {
   position: absolute;
   width: 85px;
   background-color: $nord2;
   transition: 0.2s width ease-in-out;
   &:hover {
      width: 300px;
   }
}

.circle-wrapper {
   display: flex;
   align-items: center;
   min-height: 70px;
   margin-left: 12px;
   width: 300px;
   user-select: none;
   cursor: pointer;
   span {
      padding-left: 20px;
   }
   &:hover {
      filter: brightness(120%);
   }
}

.circle {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 200px;
   min-width: 55px;
   max-width: 55px;
   min-height: 55px;
   max-height: 55px;
   transition: 0.2s filter linear;
   color: $nord2;
   position: relative;
}

.chats {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   width: 100%;
   max-height: calc(100% - 185px);
   min-height: calc(100% - 185px);
   padding-top: 25px;
   overflow: scroll;
   .circle {
      margin-top: 10px;
   }
   .circle:last-child {
      margin-bottom: 10px;
   }
}

.settings {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   width: 100%;
   height: 160px;
   border-top: 1px solid $nord0;
   overflow: scroll;
   .color {
      background-color: $nord7 !important;
   }
}

.modal-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(black, 0.4);
   animation: fadeIn 0.3s;
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.fadeOut {
   animation: fadeOut 0.3s;
}

@keyframes fadeOut {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}

.modal {
   display: flex;
   height: 425px;
   width: 70vw;
   max-width: 600px;
   background-color: $nord3;
   border-radius: 5px;
   padding: 1em;
   position: relative;
   box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
}

.modal-search {
   height: 200px;
   overflow: scroll;
   .has {
      background-color: $alt;
      color: $nord5;
   }
}

.modal-half {
   width: 50%;
   ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
   }

   li {
      padding: 1em;
      background-color: $nord5;
      color: $nord2;
      font-weight: 600;
      border-bottom: 1px solid $nord2;
   }
}

.exit {
   position: absolute;
   top: 0.5em;
   right: 0.5em;
   &:hover {
      filter: brightness(120%);
   }
   &:active {
      filter: brightness(200%);
   }
}

.chat-titlebar {
   padding-top: 0.5em;
   padding-bottom: 1em;
   width: 100%;
   display: flex;
   align-items: baseline;
   justify-content: space-between;
   border-bottom: 1px solid $nord2;
}

.chat-name {
   font-size: 2em;
}

.chat-tiny {
   font-size: 14px;
   font-style: italic;
   color: rgba($nord4, 0.6);
}

.chat-settings {
   padding-top: 6px;
   padding-right: 0.5em;
}

.chat-logo {
   border: 1px solid white;
   border-radius: 200px;
   height: 40px;
   width: 40px;
   padding: 4px;
}

.chat-messages {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-end;
   overflow: scroll;
}

.chat-send {
   outline: none !important;
   &::placeholder {
      text-transform: none;
      letter-spacing: 0;
   }
}
